<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736625709379-b5e6mq7qaj1m5balkpem6isk2mr746sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736625709379-b5e6mq7qaj1m5balkpem6isk2mr746sc</string>
	<key>API_KEY</key>
	<string>AIzaSyCmEGCcEzC--M4iE6Ky-NXNT2x7BKokwsE</string>
	<key>GCM_SENDER_ID</key>
	<string>736625709379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapplication</string>
	<key>PROJECT_ID</key>
	<string>appchat-20ba3</string>
	<key>STORAGE_BUCKET</key>
	<string>appchat-20ba3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736625709379:ios:a7c7d63752a2df81329ff6</string>
</dict>
</plist>